<title>Login Authentication</title>
<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
<script type="text/javascript" src = "js/ajaxScript.js"></script>
<style type="text/css">
	body {
		padding-top: 80px;
	}
</style>