<div class="col-xs-10">
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home">
      <h4><span class ="fa fa-tasks"></span> Completed</h4>
      <% if( tasks.length === 0) { %>
      No Items!
      <% } else { %>
      <div class="col-sm-12">
        <ol class="list-group">
          <% tasks.forEach(function(task) { %>
          <li class="list-group-item completed">
            <%= task.activity.name %> (Created at: <%= task.activity.createTime.toDateString(); %>)
          </li>
          <% }); %>
        </ol>
      </div>
      <% } %>
    </div>
    <div class="tab-pane" id="profile">Profile Tab.</div>
    <div class="tab-pane" id="messages">Messages Tab.</div>
    <div class="tab-pane" id="settings">Settings Tab.</div>
  </div>
</div>
