<div class="jumbotron text-center">
  <h1><span class="fa fa-lock"> Login Authentication</h1>
  <p>Login or Register:</p>

  <button type="button" class="btn btn-default" id="loginForm" onclick="getLoginForm()"><span class="fa fa-user"></span> Login</button>
  <button type="button" class="btn btn-default" id="signupForm" onclick="getSignupForm()"><span class="fa fa-user"></span> Signup</button>
</div>

<script type="text/javascript" src = "js/script.js"></script>