
<div class="container">
	<div class="col-sm-6 col-sm-offset-3">
		<h1><span class="fa fa-sign-in"></span> Signup</h1>

		<!-- show any messages that come with the authentication -->
		<% include partials/messages %>

		<!-- SIGNUP FORM -->
		<form  method="POST">
			<% include partials/form %>

			<button type="button" class="btn btn-warning btn-lg" onclick="signUp()">Signup</button>

			<hr>

			<p>Already have an account? <a href="#" onclick="getLoginForm()">Login</a></p>
			<p>Or go <a href="#" onclick="gethome()">home</a>.</p>
		</form>
	</div>
</div>
<script type="text/javascript" src = "js/script.js"></script>
